<th mat-header-cell *matHeaderCellDef>
  <button mat-mini-fab color="accent" aria-label="Adicionar um curso" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
</th>

<mat-card>
  <mat-toolbar>Cadastrar novo Curso</mat-toolbar>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="fill-width">
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="fill-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
