mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.action-center {
  justify-content: center;
}

.fill-width {
  width: 100%;
  min-width: 150px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}
